
* {margin: 0; padding: 0;}
.card, .platoon img, .blackbox img { 
	filter:invert(100%); 
	padding: 10px 5px 5px 5px;
}


.nation img { 
	filter:invert(0%); 
	padding: 10px 5px 5px 5px;
}

.card { 
	filter:invert(100%); 
	padding: 2px 2px 2px 2px;
}

html {
  scroll-padding-top: 6rem;
}

.title img { 
	filter:invert(0%); 
	padding: 10px 10px 10px 10px;
}

.img {
   object-fit: cover;
   height: 100px;
}

:root {
  --doubleboxWidth: 130px;
  
}

.left {
    float: left;
}

.right {
    margin-right:5px;
    float: right;
}


body
{
	margin: 0;
    padding: 0;
    background-color: black;
	background: linear-gradient(90deg, black 20%, gray 33%, black 35%, black 65%, gray 67%, black 80%);
	background-size: 3500px;
	background-position: center;
	background-repeat: repeat-y;
	/*background: #000;*/
	font-family: arial, verdana, tahoma;
	scroll-margin-top: 10em;
}


.page-container {
    width: 80%; /* Set your desired width (e.g., 80% of the viewport width) */
    max-width: 1100px; /* Set a maximum width if needed */
    margin: 0 auto; /* Center the container horizontally */
    background-color: #D6C9AF; /* Set your desired background color */
    padding: 20px; /* Add padding as needed */

}


.box select{
    
    max-width:200px;
}

.box::before { 
  display: block; 
  content: " "; 
  margin-top: -285px; 
  height: 285px; 
  visibility: hidden; 
  pointer-events: none;
}

.title select{
    max-width:180px;
}

.left {
    float: left;
}
 
.header {
	margin-left: 40px;
	text-align: center;
	padding-top: 20px;
	width:1000px;

}

.collapsible {

  cursor: pointer;
  width: 1011px;
	z-index: 1;
	margin-left: 40px;
 	margin-top: 20px; 
 	margin-bottom: 10px;  
 	position: relative;

 	background: white;
	display: inline-block;
	border: 2px solid black;
	text-align: center;
	width: min(1011px, calc(100vw - 100px));
	border-radius: 	5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px; 
}

.collapsible:after {
  content: "\2796"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\02795'; /* Unicode character for "minus" sign (-) */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}


.Formation{
	position: relative;
	margin: 40px;
 	margin-top: -20px;   
	z-index: 0;
	background: white;
	display: inline-block;
	border: 2px solid black;
	text-align: center;
	width: 1011px;
	width: min(1011px, calc(100vw - 100px));
	border-radius: 	5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px; 

}

a:visited{
    color: white;
text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.grid{
    -moz-column-count: 4;
    -moz-column-gap: 0;
    -webkit-column-count: 4;
    -webkit-column-gap: 0;
    column-count: 4;
    column-gap: 0;
    margin-top:30px;
}

.box {

/*	
	*/
    float: left; 
	position: relative;
	padding-top: 4px;
	text-align: center;
	width: 230px;
	margin:10px;
	background: #D3D3D3;
	color: black;
    break-inside: avoid-column;
	transition: all 0.5s;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}

.platoon, .blackbox{
	margin:5px;
	color: white;
	text-decoration: none;
	background: #6e7575;
	font-size: 15px;
	display: inline-block;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	text-transform:uppercase;
	
}

.blackbox{
    background:black;
}
.title
{
    margin:1px;
    width: 216px;
	font-weight: bold;
	padding: 3px 3px;
	padding-right:10px;
	box-sizing: border-box;
    background: white;
	font-size: 13px;
    color: black;
	display: inline-block;
    border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

h2{
	padding: 2px 2px;
	text-decoration: none;
	background: #3D4849;
	color: white;
	display: inline-block;
    width: 500px;

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
	text-transform:uppercase;
}

h3{
	padding: 5px 2px;
	margin-top: -20px;
	text-decoration: none;
	background: black;
	color: white;
	display: inline-block;
    width: 400px;
	z-index: 6;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;	
	border-radius: 8px;
	
	text-transform:uppercase;
}





.Formation div{
	font-size: 14px;
}




.box .IsHitOn ,.box .Points,.Points, .IsHitOn{
	margin-top:5px;
	padding: 1px;
	width: var(--doubleboxWidth);
	background: black;
	display: inline-block;
	
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;

}

.IsHitOn div{
	border: 2px solid white;

	text-decoration: none;
    text-align: left;
	background: white;
	width: calc( var(--doubleboxWidth) - 4px);
	color: black;
	font-size: 15px;
	display: inline-block;
	
	


}


.Points div{
	border: 2px solid white;
	padding: 2px 2px;
	text-decoration: none;
    text-align: left;
	background: white;
	width: calc( var(--doubleboxWidth) - 8px);
	color: black;
	font-size: 15px;
	display: inline-block;
	
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
    text-align: center;
	background: green;
	color: white;
	font-weight: bold;
}

 .IsHitOn div:first-child{
    font-weight: bold;
	text-transform:uppercase;     
    text-align: left;	
    background: #dd0000;
    padding: 2px 2px;
    border: 2px solid white;
	color: white;
	width: calc( var(--doubleboxWidth) - 8px);
    border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

.IsHitOn div:last-child{

	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
    
}

@media only screen and (max-width: 1400px) {
	.page-container {
        width: 100%;
        padding: 0px; 
    }
	.grid{
	    -moz-column-count: 4;
	    -moz-column-gap: 0;
	    -webkit-column-count: 4;
	    -webkit-column-gap: 0;
	    column-count: 4;
	    column-gap: 0;
	    margin-top:5px;
	}

    
    .title {
        scroll-margin-top: 10em;
        width: calc(100% - 2px);
    }
    
    .grid .box{
        margin: 2px;
        width: clamp(200px, calc(22vw - 10px), 400px);
    }
	.platoon, .blackbox{

		width: calc(100% - 10px);
		
	}

}

@media only screen and (max-width: 1100px) {

	.collapsible{
		margin-left: 5px;
		margin-right: 0px;
		width: 800px;
		width: calc(100vw - 6px);
	}

	.Formation{
		margin-left: 5px;
		margin-right: 0px;
		width: 800px;
		width: calc(100vw - 10px);
	}
	.header {
		margin-left: 5px;
		width:calc(100vw - 15px);
	    text-align: center;
	}

    .box {
        scroll-margin-top: 10em;
        margin: 2px;
        width: clamp(200px, calc(33vw - 10px), 400px);
    }
    
    .title {
        scroll-margin-top: 10em;
        width: calc(100% - 2px);
    }

	.grid{
	    -moz-column-count: 3;
	    -moz-column-gap: 0;
	    -webkit-column-count: 3;
	    -webkit-column-gap: 0;
	    column-count: 3;
	    column-gap: 0;
	    margin-top:5px;
	}
	
    .grid .box{
        margin: 2px;
        width: clamp(200px, calc(33vw - 10px), 400px);
    }

	h2 {
		width:min(600px, calc(100vw - 15px));
		    display: inline-block;
	}

	h3 {
		width:min(600px, calc(100vw - 100px));
	}
}

@media only screen and (max-width: 870px) {


	.grid{
	    -moz-column-count:3;
	    -moz-column-gap: 0;
	    -webkit-column-count: 3;
	    -webkit-column-gap: 0;
	    column-count: 3;
	    column-gap: 0;
	    margin-top:5px;
	}

.box , .grid .box{
    margin: 2px;
    width: clamp(200px, calc(33vw - 10px), 400px);
}

.title {
    width: clamp(196px, calc(33vw - 20px),400px);
}


}
@media only screen and (max-width: 630px) {
	h2 {
		width:calc(100vw - 12px);
	}

	.grid{
	    -moz-column-count: 2;
	    -moz-column-gap: 0;
	    -webkit-column-count: 2;
	    -webkit-column-gap: 0;
	    column-count: 2;
	    column-gap: 0;
	    margin-top:5px;
	}
	
.box , .grid .box{
    margin: 2px;
    width: clamp(200px, calc(50vw - 15px), 285px);
}

.title {
    width: clamp(196px, calc(50vw - 30px),270px);
}

}
@media only screen and (max-width: 490px) {

	.header {
		margin-left: 5px;
		width:min(400px, calc(100vw - 15px));
	}

	.box , .grid .box{
		margin: 5px;
		width:max(230px, calc(100vw - 30px));
	}

	.grid{
	    -moz-column-count: 1;
	    -moz-column-gap: 0;
	    -webkit-column-count: 1;
	    -webkit-column-gap: 0;
	    column-count: 1;
	    column-gap: 0;
	    margin-top:5px;
	}

	.title
	{
	    width: max(216px, calc(100vw - 40px));
	}

	h3 {
		width:min(400px, calc(100vw - 100px));
	}
}






@media print {
	
	body{
		margin:0px;
		background: white;}
    .tree {width:1000px}
    .Formation {page-break-inside: avoid;}

}

/* Style the navigation menu */
.topnav {
  position: fixed;
  top: 0;
  width: 100%;    
  overflow: hidden;
  background-color: black;
  z-index:5;
/*  position: relative;*/
}

.topnav h3{
	padding: 5px 2px;
	margin-top: 5px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a{
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

 .topnav label {
       color: white;
 }

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: white;
  color: white;
} 
  
 #backToTopButton {
    display: none;
	position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 99;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

 #pointsOnTop {
	position: fixed;
    top: 0px;
    right: 50px;
    z-index: 99;
    border: none;
    padding: 0px 0px;
    cursor: pointer;
}

 #viewlistOnTop {

	position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


#viewlistOnTop a, #backToTopButton a {
    text-decoration: none;
    color: #fff;
}

