
:root {
	--doubleboxWidth: 130px;
  }

* {margin: 0; padding: 0;}
.card, .platoon img, .blackbox img  { filter:invert(100%); padding: 10px 5px 5px 5px;}
.IsHitOn img { filter:invert(100%);}
.title img { filter:invert(0%); padding: 0px 0px 0px 0px;}
.collapsible img {
	height: 20px;
	width: auto;
}

.platoon .nation img, .blackbox .nation img{

	position: absolute;
    top: -10px;
    left: 0px;
}

.floatingImg {
	position: relative;
	width: 0px;
	height: 0px;

}

.floatingImg img{
	position: absolute;
	background-color: white;
    border-radius: 30%;
    border: 2px solid black;
	width: 18px;
    padding: 2px;
    left: -25px;
    top: -10px;
}

.loadingDiv {
	position: fixed;
    left:0;
    top:0;
    z-index:1000;
    width:100%;
    height:100%;
    min-height:100%;
    background:#000;
    opacity:0.8;
    text-align:center;
    color:#fff;
}

.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

.loader {
	margin: 0;
	position: absolute;
	top: calc(50% - 76px);
	left: calc(50% - 76px);
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.leftT {
	text-align: left;
}


.grids {
	display: grid;
	grid-template-columns: 140px;
	margin-top: 5px;
    background: white;
	font-size: 15px;
}

.grid-item {
	background: #fff;
	font-style: italic;
	font-size: 14px;
	border-left: 2px solid black;
	border-right: 2px solid black;
	margin-bottom: -2px;
}

.grid-item span {
	font-size: 10px;
	
}

.grid-item.b span {
	font-size: 14px;
	font-style: normal;
}

.grid-item .right, .grid-item.b .right, .grid-bottom .right {
	position: relative;
	top: -5px;

} 


.grid-bottom {
	background: #fff;
	padding-bottom: 2px;
	font-weight: bold;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.grid-heading {
	text-align: left;	
	
	font-weight: bold;
    background: #dd0000;
	color: white;
	border: 2px solid black;
    border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

.grid-addon {
	background: #fff;
	margin-left: 1px;
	padding: 2px;
	font-weight: bold;
	position: relative;
	top: -7px;
	white-space: nowrap;
}

.grid-heading > div{
	padding: 2px;
	border: 2px solid white;
	border-radius: 4px;
}
.b {
	font-weight: bold;
}

.grids > div:empty {
	visibility: hidden;
}

.img {
   object-fit: cover;
   height: 100px;
}

.nation img { 
	filter:invert(0%); 
	padding: 10px 5px 5px 5px;
}

:nth-child(1 of .grid-addon) {
	border: 2px solid black;
	border-bottom: none;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

:nth-last-child(1 of .grid-addon) {

	border-bottom: 2px solid black;
	border-right: 2px solid black;
	border-left: 2px solid black;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;

  }

.collapsible {

  cursor: pointer;
  width:  98%;
	z-index: 1;
	margin-left: 40px;
 	margin-top: 20px; 
 	margin-bottom: 0px;  
 	position: relative;

 	background: white;
	display: inline-block;
	border: 2px solid black;
	text-align: center;
	width: 93%;
	border-radius: 	5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px; 
}

.collapsible:after {
  content: "\2796"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
  margin-top: 10px;
}

.active:after {
  content: '\02795'; /* Unicode character for "minus" sign (-) */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}


a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

.left {
    float: left;
}
.mid {
	margin-top: 10px;

}
 
  /* list */


.frame {
    width: 50px;
	border: 2px solid white;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
    
}

body
{
	margin: 0;
    padding: 0;
    background: linear-gradient(90deg, black 20%, gray 32%, black 35%, black 65%, gray 68%, black 80%);
	background-size: 3500px;
	background-position: center;
	background-repeat: no-repeat;
	/*background: #000;*/
	font-family: arial, verdana, tahoma;
	scroll-margin-top: 10em;
}


.page-container {
	page-break-inside: auto;

    width: 1200px; /* Set a maximum width if needed */
    margin: 0 auto; /* Center the container horizontally */
    background-color: #D6C9AF; /* Set your desired background color */
    padding: 5px; /* Add padding as needed */


}

.IsHitOn , .Points{
	/*margin-top:5px;*/
	padding: 2px 2px;
	width: 130px;
	background: black;
	display: inline-block;
	box-sizing: border-box;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;

}

.Points .Points1{
	box-sizing: border-box;
	border: 2px solid white;
	padding: 2px 2px;
	text-decoration: none;
	font-weight: bold;
	background: green;
	width: 100%;
	color: white;
	font-size: 15px;
	display: inline-block;
	
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	
	text-transform:uppercase;

}

.box select{
    max-width:200px;
}
.title select{
    max-width:180px;
}

.header {
	margin-left: 40px;
	text-align: center;
	padding-top: 20px;
	width:1000px;
	page-break-before: avoid;
	page-break-after: avoid;
}


.Formation{

	background: white;
	display: inline-block;
	border: 2px solid black;
	text-align: center;
	width: 100%;
	border-radius: 	5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.outerBox {
	position: relative;
	float: left; text-align: center;
	width: max(315px,33%);
}

.secondBox {
	position: relative;
	float: left; text-align: center;
	width: 67%;
}
.box {

	float: left; text-align: center;
	width: max(315px,32.2%);
	position: relative;
	background: #D3D3D3;
	color: black;
	margin:5px;
	margin-bottom:10px;
	margin-top:20px;
	transition: all 0.5s;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}


.outerBox .box {
	width: 98%;
}
.secondBox .box {
	width: 48.5%;
}


.platoon{
	color: white;
	text-decoration: none;
	background: #3D4849;
	font-size: 15px;
	width: calc(100% - 4px);
	display: inline-block;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	text-transform:uppercase;
}

.grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 25px; 

}

.box {
	background: #D3D3D3;
	color: black;
    break-inside: avoid-column;
	transition: all 0.5s;
	border-radius: 8px;

	text-align: center;
	margin:10px;
	grid-row-end: span 15;
	width: auto;
}

.blackbox, .platoon {
    margin: 5px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    border-radius: 8px;
	width: calc(100% - 10px);
}



.title
{
    margin:1px;
    width: max(303px,calc(100% - 2px));
/*	font-weight: bold; */
	padding: 3px 3px;
	padding-right:10px;
	box-sizing: border-box;
    background: white;
	font-size: 13px;
    color: black;
	display: inline-block;
	text-transform:none;
    border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
.title b{
    text-transform:uppercase;
}
h2{
	padding: 2px 2px;
	text-decoration: none;
	background: #3D4849;
	color: white;
	display: inline-block;
    width: 500px;
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
	text-transform:uppercase;
}

h3{
	padding: 2px 2px;
	margin: -20px;	
	text-decoration: none;
	background: black;
	color: white;
	display: inline-block;
    width: 400px;

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;	
	border-radius: 8px;
	
	text-transform:uppercase;
}

.box .IsHitOn ,.box  .Points{
	/*margin-top:5px;*/
	box-sizing: border-box;
	padding: 2px 2px;
	width: 110px;
	background: black;
	display: inline-block;
	position: absolute;
    top: -5px;
    right: -10px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;

}

.box .IsHitOn div, .box .Points div, .box .Points div{
	border: 2px solid white;
	box-sizing: border-box;
	padding: 2px 2px;
	text-decoration: none;
	font-weight: bold;
	background: #dd0000;
	width:100%;
	color: white;
	font-size: 15px;
	display: inline-block;
	
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	
	text-transform:uppercase;

}


.box .Points div{
	background: green;
	cursor: pointer;
}


.Formation div{
	font-size: 14px;
}

tr td {
	border-top:solid black 1px;
}
.arsenal tr:nth-child(2n+2) td {
  background-color: #eeeeee;
  border-top:none;
}


tr:nth-child(2n+2) {
  break-after: avoid;
}




table {
    border-collapse:separate;
    background: white;
    border:solid black 2px;
    border-radius:6px;
    border-spacing: 0;
    width: 100%;
}

td, th {
    padding: 5px 5px 5px 5px;
    border-left:solid black 1px;
    border-top:solid black 1px;
    border-top: none;
    border-bottom: none;
	vertical-align: top;
	text-align: center;
}

th {
    background-color: black;
    color: white;
    border-top: none;
}


h5 {
	position: relative;
	top: -32px;  left: -7px;
	text-align: right; color: white;
	height:0px;
	transform: rotate(-45deg)translate(0, 0);
	transform-origin: right bottom;
	z-index:2;
}


td .Armour {
	display: grid;
	grid-template-columns: 136px;
	margin-top: 5px;
    background: white;
	font-size: 15px;
	border: 2px solid black;
	border-radius: 6px;
	box-sizing: border-box;
	width: 140px;
}




/*
	text-align: left;	
	
	font-weight: bold;
    background: #dd0000;
	color: white;
	border: 2px solid black;
    border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
*/

td .Armour div {
	font-weight: bold;
	font-size: 15px;

	text-transform:uppercase;
	text-align: left;
	box-sizing: border-box;

    border: 2px solid white;
	background: white;
	color: black;
	width:100%;
    border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}



.komTbl td, .komTbl tr{
	padding: 0px;
}

.komTbl {
	border-collapse: separate;
    background: none;
    border: 0px;
    border-radius: 0px;
    border-spacing: 0px;
}

tr .firstWeaponrow {
    border-top:solid black 1px;
}

.bgBlack {
     text-align: left;


    box-sizing: border-box;
    padding: 2px 2px 2px 2px;
    background: black;
	color: white;
    border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	display: inline-block;
	width: 104px;    
	font-size: 12px;
}

.right, .grid-item.b span.right{
    margin-right:5px;
    float: right;
	font-size: 17px;
}

.Armour div {
	margin-top: -1px;
	margin-bottom: -1px;
}

.Armour div:first-child {
	margin-top: 0px;
	margin-bottom: -1px;
}

.Armour div:last-child {
	margin-top: -1px;
	margin-bottom: 0px;
}

.Armour div:only-child {
	margin-top: 0px;
	margin-bottom: 0px;
}


/* Style the navigation menu */
.topnav {
	position: fixed;
	top: 0;
	width: 100%;    
	overflow: hidden;
	background-color: black;
	position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
	display: none;
  }
  
  /* Style navigation menu links */
  .topnav a{
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
  }
  
   .topnav label {
		 color: white;
   }
  
  /* Style the hamburger menu */
  .topnav a.icon {
	background: black;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
	background-color: white;
	color: white;
  } 
  
  
  .German {
	  background-color: #3f473c;
  }
  .American {
	  background-color: #012846;
  }
  .British {
	  background-color: #531d2d;
  }
  .Soviet {
	  background-color: #5f4c30;
  }
  .Finnish {
	  background-color: #004678;
  }
  .Hungarian {
	  background-color: #27441a;
  }
  .Romanian {
	  background-color: #79242f;
  }
  .Italian {
	  background-color: #07542b;
  }

@media print {
	
	body{
		margin:0px;
		background: none;}

    .Formation {
    	margin: 0px;
    }
	.collapsible:after {
		display: none;
	}
	.topnav {
		display: none;
	}

	.page-container {
		width: 1200px;
		margin: 0 auto; 
		background-color: #ffff; 
		padding: 0px;
		page-break-inside: auto;
		transform: scale(0.8);
		transform-origin: top left;
	}
	button {
		display: none;
	}
    
}

.box .Points.selected div {
	background: blue;
	cursor: pointer;
}