.German {
    background-color: #3f473c !important;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
}
.American {
    background-color: #012846 !important;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
}
.Australian {
    background-color: #07542b !important;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
}
.Japanese {
    background-color: #9c1418 !important;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
}
.British {
    background-color: #531d2d !important;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
}
.Soviet {
    background-color: #5f4c30 !important;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
}
.Finnish {
    background-color: #004678 !important;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
}
.Hungarian {
    background-color: #27441a !important;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
}
.Romanian {
    background-color: #79242f !important;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
}
.Italian {
    background-color: #07542b !important;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
}
.Combattimento {
    background-color: #07542b !important;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
}

.French {
    background-color: #20473F !important;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
}
.Polish {
    background-color: #9C0F0B !important;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
}

/* Override for non-default themes */
.theme-overridden {
    background-color: var(--accent-color) !important;
}   