

* {margin: 0; padding: 0;}
.platoon img, .blackbox img { filter:invert(100%); padding: 10px 5px 5px 5px;}
.title img { filter:invert(0%); padding: 10px 10px 10px 10px;}

.img {
   object-fit: cover;
   height: 100px;
}

:root {
  --doubleboxWidth: 130px;
}


  /* list */

/*button, button:hover {
  background: none;
  border: none;
  padding: 0;
  optional
  -webkit-appearance: none;
  cursor: pointer;
  text-transform:uppercase;
}*/


body
{
	background: #D6C9AF;
	font-family: arial, verdana, tahoma;
}
.box select{
    max-width:200px;
}
.title select{
    max-width:180px;
}


 
.header {
	margin-left: 40px;
	text-align: center;
	padding-top: 20px;
	width:1000px;

}

.Formation{
	margin: 40px;
	background: white;
	display: inline-block;
	border: 2px solid black;
	text-align: center;
	width: 1011px;
	border-radius: 	5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;	
}

a:visited{
    color: white;
text-decoration: none;
}

a:link {
  text-decoration: none;
}

.grid{
    -moz-column-count: 4;
    -moz-column-gap: 0;
    -webkit-column-count: 4;
    -webkit-column-gap: 0;
    column-count: 4;
    column-gap: 0;
    margin-top:30px;
}

.box {

/*	
	*/
       float: left; 
	position: relative;
	padding-top: 4px;
	text-align: center;
	width: 230px;
	margin:10px;
	background: #D3D3D3;
	color: black;
    break-inside: avoid-column;
	transition: all 0.5s;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}

.platoon, .blackbox{
	margin:5px;
	color: white;
	text-decoration: none;
	background: #3D4849;
	font-size: 15px;
	display: inline-block;
    min-height:150px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	text-transform:uppercase;
}

.blackbox{
    background:black;
}
.title
{
    margin:1px;
    width: 216px;
	font-weight: bold;
	padding: 3px 3px;
	padding-right:10px;
	box-sizing: border-box;
    background: white;
	font-size: 13px;
    color: black;
	display: inline-block;
	min-height:50px;
    border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

h2{
	padding: 2px 2px;
	text-decoration: none;
	background: #3D4849;
	color: white;
	display: inline-block;
    width: 500px;
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
	text-transform:uppercase;
}

h3{
	padding: 2px 2px;
	margin: -20px;
	text-decoration: none;
	background: black;
	color: white;
	display: inline-block;
    width: 400px;

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;	
	border-radius: 8px;
	
	text-transform:uppercase;
}





.Formation div{
	font-size: 14px;
}




.box .IsHitOn ,.box .Points,.Points, .IsHitOn{
	margin-top:5px;
	padding: 2px 2px;
	width: var(--doubleboxWidth);
	background: black;
	display: inline-block;
	
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;

}

.IsHitOn div, .Points div{
	border: 2px solid white;
	padding: 2px 2px;
	text-decoration: none;
	font-weight: bold;
	background: red;
	width: calc( var(--doubleboxWidth) - 8px);
	color: white;
	font-size: 15px;
	display: inline-block;
	
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	
	text-transform:uppercase;

}


.Points div{
	background: green;
}


@media print {
	
	body{
		margin:0px;
		background: white;}
    .tree {width:1000px}
    .Formation {page-break-inside: avoid;}

}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: black;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a{
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

 .topnav label {
       color: white;
 }

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: white;
  color: white;
} 
  